<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/style.css">
    </head>

    <body>
        <section class="header">
            <div class="header-container">
                <h1>Welcome to (name) Cafe!</h1>
                <p>How would you like your coffee?</p>
            </div>
        </section>

        <section class="menu-body">
            <div class="advertisement-container">

            </div>

            <div class="categories-nav-container">

            </div>

            <div class="menu-listing-container">
                <div class="product-cards">

                </div>
            </div>
        </section>

        <section class="footer">
            <button></button>
        </section>
    </body>
</html>