* {
    margin: 0;
    box-sizing: border-box;
}

.container {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    padding: 2%;
    height: 100%;
    width: 100%;

    background-color: #ECE7D1;
}

.wrapper {
    height: 110px; 
    display: flex;
    max-width: 100%;
    min-height: 75px;
    
    /* 3. Enable horizontal scrolling and prevent vertical overflow */
    overflow-x: auto;
    overflow-y: hidden;
}

.wrapper::-webkit-scrollbar {
    width: 0px;
}

.wrapper .item {
    /* min-width: 125px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    background-color:aliceblue white-space; */
    /* 4. Prevent Flexbox from shrinking the items below their min-width */
    flex-shrink: 0; 
    min-width: 125px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    
    /* 5. Fixed the syntax typo here */
    background-color: aliceblue;
}

.header {
    display: flex;
    height: 5%; 
    width: 100%;
}

.customize_order {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 30%;
    gap: 1%;
}
.images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

    gap: 5%;
}
.big_image,
.small_image {
    background-color: grey;

    width: 80%;
    height: 60%;

    border-radius: 10px;
}
.small_image {
    height: 20%;
}

.categories {
    display: flex;
    flex-direction: column;
    align-items: start;

    height: 10%;
    width: 100%;
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 1%;

    height: 90%;
    width: 100%;
    gap: 5%;
}

.choices div {
    height: 80%;
    aspect-ratio: 1/1;

    border: 1px solid black;
}

.products {
    display: flex;
    padding: 5%;
    gap: 5%;

    overflow-x:scroll;
    flex-wrap: wrap;

    justify-content: center;
    align-items: flex-start;
    height: 55%;
    width: 100%;
}

.products div {
    height: 35%;
    aspect-ratio: 1/1;

    border: 1px solid black;
}